html { 
	background: url("images/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    
}
 
body {
    font-family: "OPEN SANS";
	font-weight: 100px;
	margin: 100px;
	max-width: center;
	font-size: 20px;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.6);
    background-color: rgba(214, 208, 177, 0.774);
    margin: 10%;
    
}

.container {
    overflow: hidden;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

a.start    {
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: rgb(187, 141, 24);
    float: left;
    display: block;
    color: rgb(187, 141, 24);
    text-align: center;
    padding: 15px 0%;
    width: 25%;
}

a.Boys {
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: rgb(187, 141, 24);
	float: right;
    display: block;
    color: rgb(187, 141, 24);
    text-align: center;
    padding: 15px 0%;
	width: 25%;

}


.dropdown {
    float: left;
    overflow: inherit;
	padding-right:0%;
	padding-left:20%;
	
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: rgb(187, 141, 24);
    padding: 14px 16px;
    background-color: inherit;
}

.leiste a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
    color:  rgb(187, 141, 24);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px
}

.dropdown-content a {
    float: initial;
    color:  rgb(187, 141, 24);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	width: 80%;
}

.dropdown-content a:hover {
    background-color: white;
	width:80%;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

h1 {
	background-color: transparent;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	color:  rgb(187, 141, 24);
	font-size: 53px;
	text-transform: uppercase;  
}

h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: left;
	color:  rgb(187, 141, 24);
	font-size: 20px;  
	padding-left: 10px;
	background-color: transparent;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    font-size: 18px
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h5 {
	background-color: transparent;
	font-family: Helvetica, fantasy;
	text-align: center;
	font-size: 23px;
	font-weight:normal;
	font-style:normal;
	padding: 0px 20px;
}

p {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    text-align: center;
    color:black;
}

p.tabelle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px
}
#Tourenbeschreibung {
	text-align: justify;
	padding: 10px 50px;
	background-color: transparent;
}

#map {
	width: center;
	height: 500px;
	border: solid 2px grey;
}

#gpx {
	background-color:black;
    color:  rgb(187, 141, 24);
    padding: 14px;
    font-size: 14px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
	width: 100% ;
	table-layout: fixed;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
    background-color: transparent; 
}

table.team {
     border: "1";
     color: black
}

img.profilbild {
    border: 4px solid black;
    max-width: 250px;
    border-radius: 50%
}
    
a.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px
}

#Tourenbeschreibung {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    text-align: left;
	font-size: 16px;
	font-weight:normal;
	font-style:normal;
	padding: 0px 15px;

}
